In [ ]:
#수 복원하기

In [1]:
a = int(input())

for _ in range (a):
  n = int(input())
  for i in range(2, n+1):
    c = 0
    if n % i == 0:
      while n % i == 0:
        n = n//i
        c += 1
      print("%d %d" %(i, c))
    elif a == 1:
      break

2
6
2 1
3 1
24
2 3
3 1